<header class="mani-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>NAIL ENHANCEMENTS</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_mani" class="container">
  <div class="row">

    <div class="col s12 mani">
      <h3 class="mani-title"><b>DIP POWDER</b> - $45</h3>
      <p>Offering an odorless, flexible, strong, and long lasting set of nails that are light and natural feeling. 
      Dip powder dries instantly, and does not require UV lights. This application is ideal for those who tend to
      have thin nails or short nail beds, and want to improve their nail health. Applications stays beautiful for 2 to 4 weeks. </p>
      <p class="service-description">We proudly use SNS.</p>
      <ul>
        <li class="xtra-service"><b>Tips</b> - $5</li>
        <li class="xtra-service"><b>French</b> - $5</li>
        <li class="xtra-service"><b>Manicure</b> - $5</li>
      </ul>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>GEL NAILS WITH MANICURE</b> -  $40</h3>
      <ul>
        <li class="xtra-service"><b>French</b> - $5</li>
      </ul>
      <p class="service-description">Offering an odorless, durable, and long lasting polish that will hold its beautiful shine for 2 to 4 weeks. 
      This application is ideal for those who have long nail beds and do not tend to put a lot of wear and tear on their hands.</p>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>ACRYLICS</b> - <i>Full Set = $40</i> / <i>Fill = $30</i> </h3>
      <p>This traditional nail application has proven to stand the test of time. offering strength and durability, these nail sets are ideal for
         those who tend to work a lot with their hands. Acrylic sets offer the versatility of being able to change the polish color before its 
         time for your next fill. Applications stay beautiful for 2 to 4 weeks.</p>
      <ul>
        <li class="xtra-service"><b>With Gel</b> - $25</li>
        <li class="xtra-service"><b>Long Tips</b> - $5 - $10</li>
        <li class="xtra-service"><b>French</b> - $5</li>
      </ul>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>PINK & WHITE</b> - <i>Full Sets = $60</i> / <i>Fill = $40</i></h3>
    </div>

    <div class="col s12">
      <h3>Here are a couple of all Nail Shapes we do:</h3>
      <h5>You don't see the shape you want? Don't worry. Just come in and we got you covered!</h5>
      <img class="responsive-img" src="/assets/nail-shapes.png" alt="Lavender Nail Shapes">
    </div>
  </div>
</div>