<header class="mani-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>MANICURE</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_mani" class="container">
  <div class="row">

    <div class="col s12 spa">
      <h3 class="mani-title"><b>SPA PEDICURE</b> - $35</h3>
      <p>Nail cut down, cuticle trim, pumice stone, sea salt or sugar scrub exfoliation, 
      lotion massage, hot towel treatment, hot paraffin wax dip to finish.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="mani-title"><b>LAVENDER PEDICURE</b> -  $45</h3>
      <p>Nail cut down, cuticle trim, pumice stone, sea salt or sugar scrub exfoliation, 
      lotion massage and coconut oil massage, hot towel treatment, hot paraffin wax dip to finish.</p>
    </div>

    <div class="col s12 deluxe">
      <h3 class="mani-title"><b>DELUXE PEDICURE</b> -  $55</h3>
      <p>Nail cut down, cuticle trim, pumice stone, sea salt and sugar scrub exfoliation, 
      lotion massage, hot stone massage, hot towel treatment, hot paraffin wax dip to finish.</p>
    </div>
  </div>
</div>