<header class="mani-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>MANICURE & NAIL SETS</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_mani" class="container">
  <div class="row">

    <div class="col s12 mani">
      <h3 class="mani-title"><b>SPA MANICURE</b> - $22</h3>
      <p class="service-description">Nail cut down, cuticle trim, coconut oil massage, hot towel treatment, and polish.</p>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>GEL MANICURE</b> -  $36</h3>
      <p class="service-description">Nail cut down, cuticle trim, coconut oil massage, hot towel treatment, and gel polish.</p>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>POWDER DIPPED NAILS</b> -  $45</h3>
      <p class="service-description">We proudly use SNS.</p>
        <ul>
          <li class="xtra-service"><b>Extended Tips</b> - $5</li>
          <li class="xtra-service"><b>French</b> - $5</li>
        </ul>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>ACRYLIC FULL SETS</b> -  $35 AND UP</h3>
      <ul>
        <li class="xtra-service"><b>Extra Long Tips</b> - $5</li>
        <li class="xtra-service"><b>French</b> - $5</li>
      </ul>
    </div>
    
    <div class="col s12 mani">
      <h3 class="mani-title"><b>ACRYLIC FILL</b> -  $25 AND UP</h3>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>PINK & WHITE FULL SETS</b> -  $55</h3>
    </div>

    <div class="col s12 mani">
      <h3 class="mani-title"><b>PINK & WHITE FILL</b> -  $38</h3>
    </div>

    <div class="col s12">
      <h3>Here are a couple of all Nail Shapes we do:</h3>
      <h5>You don't see the shape you want? Don't worry. Just come in and we got you covered!</h5>
      <img class="responsive-img" src="/assets/nail-shapes.png" alt="">
    </div>
  </div>
</div>