<header class="pedi-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>MANICURE & PEDICURE</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_pedis" class="container">
  <div class="row">

    <div class="col s12 spa">
      <h3 class="pedi-title"><b>Manicure</b> - $25</h3>
      <p>Nails and cuticles manicured, 5 minutes lotion massage, hot towel treatment, polish.</p>
    </div>

    <div class="col s12 spa">
      <h3 class="pedi-title"><b>Deluxe Manicure</b> - $35</h3>
      <p>Nails and cuticles manicured, 10 minutes sea salt scrub and lotion massage, hot towel treatment, paraffin wax dip, polish.</p>
    </div>
    <hr>
    <div class="col s12 spa">
      <h3 class="pedi-title"><b>SPA PEDICURE</b> - $30</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, lotion massage, hot towel treatment, and polish.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>SIGNATURE PEDICURE</b> -  $37</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, lotion massage with sugar scrub, hot towel wrapped & polish.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>LAVENDER ESSENCE PEDICURE</b> -  $45</h3>
      <p>While your feet enjoy all the beneficial of Lavender aroma, The Lavender relieves tension, provides deep relaxation and bring out peaceful sleep. 
         Your skin is buffed with a lavender sugar scrub, that surely soften your skin. Enjoy Lavender parrafin dip with steam hot towels and hot lotion that will leave your skin silky and smoothly.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>DELUXE PEDICURE</b> -  $50</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, 15 minutes sugar scrub, 
      lotion, mud mask, hot towel treatment, paraffin wax, and polish.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>SOLE REAL <i>(Organic Treatment)</i></b> -  $55</h3>
      <p>The mod is our organic pedicure known to be our most luxurious one yet! Soak your feet in our therapeutic water to help stimulate muscle tension 
      followed by our organic sugar scrub to exfoliate and refresh your skin (come with your choice). Finishing off with a super hydrating mask loaded with
      intense antioxidants to help rejuvenate your skin and tense muscle with organic butter.</p>

      <ul style="list-style-type:circle; margin-left: 20px;">
        <li style="list-style-type:circle">Mandarin & Mango</li>
        <li style="list-style-type:circle">Lemongrass & Green Tea</li>
        <li style="list-style-type:circle">Lavender & Mint</li>
        <li style="list-style-type:circle">Milk & Honey</li>
        <li style="list-style-type:circle">Pink Grape Fruit</li>
        <li style="list-style-type:circle">Jasmine Coconut</li>
        <li style="list-style-type:circle">White Radiance</li>
      </ul>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>DIVA PEDICURE</b> -  $60</h3>
      <p>Treat yourself like a Diva with intensely re-hydrating but also descendent pedicure. You will enjoy exfoliating scrubs, an emollient mask, 
      a super hydrating parrafin treatment and a lengthly massage (15 mins) with hot stone and lotion..</p>
    </div>

  </div>
</div>