<header class="pedi-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>MANICURE & PEDICURE</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_pedis" class="container">
  <div class="row">

    <div class="col s12 spa">
      <h3 class="pedi-title"><b>Manicure</b> - $25</h3>
      <p>Nails and cuticles manicured, 5 minutes lotion massage, hot towel treatment, polish.</p>
    </div>

    <div class="col s12 spa">
      <h3 class="pedi-title"><b>Deluxe Manicure</b> - $35</h3>
      <p>Nails and cuticles manicured, 10 minutes sea salt scrub and lotion massage, hot towel treatment, paraffin wax dip, polish.</p>
    </div>
    
    <div class="col s12 spa">
      <h3 class="pedi-title"><b>SPA PEDICURE</b> - $35</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, 10 minutes sea salt scrub, 
      and lotion massage, hot towel treatment, paraffin wax, polish.</p>
    </div>

    <div class="col s12 lavender">
      <h3 class="pedi-title"><b>LAVENDER PEDICURE</b> -  $45</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, 20 minutes sea salt scrub, 
      and lotion massage, hot towel treatment, paraffin wax, polish.</p>
    </div>

    <div class="col s12 deluxe">
      <h3 class="pedi-title"><b>DELUXE PEDICURE</b> -  $55</h3>
      <p>Nails and cuticles pedicured, feet lightly buffed and exfoliated, 30 minutes sea salt scrub, 
      lotion, mud mask, and hot stone massage, hot towel treatment, paraffin wax, polish.</p>
    </div>

  </div>
</div>