<header class="wax-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>WAXING & EXTRAS</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_wax" class="container">
  <div class="row">

    <div class="col s12 m12 wax">
      <h3 class="wax-title"><b>WAXING</b></h3>
      <div class="col s12 m4">
        <ul>
          <li class="service-description wax"><b>Eyebrows</b> - $15</li>
          <li class="service-description wax"><b>Lip</b> - $10</li>
          <li class="service-description wax"><b>Chin</b> - $10</li>
          <li class="service-description wax"><b>Whole Face</b> - $35</li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul>
          <li class="service-description wax"><b>Legs</b> - $40</li>
          <li class="service-description wax"><b>Arms</b> - $40</li>
          <li class="service-description wax"><b>Armpits</b> - $30</li>
          <li class="service-description wax"><b>Back</b> - $45</li>
        </ul>
      </div>

      <div class="col s12 m4 wax">
        <ul>
          <li class="service-description wax"><b>Bikini</b> - $50</li>
          <li class="service-description wax"><b>Brazilian</b> - $70</li>
        </ul>
      </div>
    </div>

    <div class="col s12 m6 wax">
      <h3 class="wax-title"><b>KID SERVICES</b></h3>
      <p>under 10 years of age</p>
      <ul>
        <li class="service-description wax"><b>Manicure and Pedicure Combo</b> - $40</li>
        <li class="service-description wax"><b> Polish Change</b> - $20</li>      
      </ul>
    </div>
    <div class="col s12 m6 wax">
      <h3 class="wax-title"><b>KID SERVICES</b></h3>
      <ul>
        <li class="service-description wax"><b>Full Set</b> - $100</li>
        <li class="service-description wax"><b> Touch Up</b> - $50</li>      
      </ul>
    </div>

    <div class="col s12 m12 wax">
      <h3 class="wax-title"><b>ADDITIONAL SERVICES</b></h3>
      <ul>
        <!-- <li class="service-description wax"><b>Manicure & Pedicure Combination</b> - $50</li> -->
        <li class="service-description"><b>Toe Nail Color Change</b> - $12</li>
        <li class="service-description"><b>French</b> - $5</li>
        <li class="service-description"><b>Fingernail Polish Change</b> - $10</li>
        <li class="service-description"><b>Acrylic, Gel, or Dipping Powder Take-Off</b> - $10</li>
        <li class="service-description"><b>Nail Art Design</b> - $10 & up</li>
        <li class="service-description"><b>Acrylic for big toenails</b> - $15</li>
        <!-- <li class="service-description"><b>Finger Nail Color Change</b> - $10</li> -->
        <!-- <li class="wax" style="margin-left: 15px;"><b>French</b> - $15</li> -->
        <li class="service-description wax"><b>Kids Manicure and Pedicure Combo (under 10 years of age)</b> - $35</li>
        <li class="service-description wax"><b>Kids Toe Nail and Finger Nail Change (under 10 years of age)</b> - $15</li>      
      </ul>
    </div>
  </div>
</div>