<header class="wax-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>WAXING & EXTRAS</h1>
            </div>
        </div>
    </div>
</header>

<div id="all_wax" class="container">
  <div class="row">

    <div class="col s12 m6 wax">
      <h3 class="wax-title"><b>WAXING</b></h3>
      <div class="col s12 m6">
        <ul>
          <li class="service-description wax"><b>Eyebrows</b> - $12</li>
          <li class="service-description wax"><b>Upper Chin</b> - $8</li>
          <li class="service-description wax"><b>Under Arms</b> - $10</li>
          <li class="service-description wax"><b>Half Arms</b> - $40</li>
        </ul>
      </div>

      <div class="col s12 m6 wax">
        <ul>
          <li class="service-description wax"><b>Half Legs</b> - $50</li>
          <li class="service-description wax"><b>Full Face</b> - $35</li>
          <li class="service-description wax"><b>Bikini</b> - $50</li>
          <li class="service-description wax"><b>Brazil</b> - $70</li>
        </ul>
      </div>
    </div>

    <div class="col s12 m6 wax">
      <h3 class="wax-title"><b>EXTRAS</b></h3>
      <ul>
        <li class="service-description wax"><b>Manicure & Pedicure Combination</b> - $50</li>
        <li class="service-description"><b>Toe Nail Color Change</b> - $12</li>
        <li class="wax" style="margin-left: 15px;"><b>• French</b> - $15</li>
        <li class="service-description"><b>Finger Nail Color Change</b> - $10</li>
        <li class="wax" style="margin-left: 15px;"><b>• French</b> - $15</li>
        <li class="service-description wax"><b>Kids Manicure and Pedicure Combo (under 10 years of age)</b> - $35</li>
        <li class="service-description wax"><b>Kids Toe Nail and Finger Nail Change (under 10 years of age)</b> - $15</li>      
      </ul>
    </div>
  </div>
</div>