<div id="about" class="container">
  <div class="row center">
    <h3 class="title">ABOUT US</h3>
    <div class="col s8 center-column">
      <p>Lavender Nail Bar have been in the business and serving middle Tennessee for over 14 years. We offer all kind of nail care services. We love seeing the beautiful smiles from our customers when they get our great services.</p>
    </div>
  </div>
</div>