<div id="products" class="container">
  <div class="row">
    <h3 class="title">OUR PRODUCTS</h3>
    <div class="col s6 m3">
      <img src="/assets/products/sns.png" alt="SNS Nails" class="product-img">
    </div>
    <div class="col s6 m3">
      <img src="/assets/products/shellac.png" alt="Shellac Nails" class="product-img">
    </div>
    <div class="col s6 m3">
      <img src="/assets/products/OPI.png" alt="OPI Nails" class="product-img">
    </div>
    <div class="col s6 m3">
      <img src="/assets/products/gelish.png" alt="Gelish Nail" class="product-img">
    </div>
    <div class="col s6 m3">
      <img src="/assets/products/entity.png" alt="Entity Logo" class="product-img">
    </div>
  </div>
</div>