<div id="qoutes" class="col s12">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/assets/slider3.jpg">
        <div class="caption right-align">
          <h3>"Sprinkle a little</h3>
          <h3><b> sparkle </b> and <b>shine</b></h3>
          <h3> wherever you go"</h3>
          <h5 class="light grey-text text-lighten-3">- Tammy Taylor</h5>
        </div>
      </li>
      <li>
        <img src="/assets/slider1.jpg">
        <div class="caption center-align">
          <h3>"<b>Your Nails</b> are like <b>Jewels</b>.</h3>
          <h3>Don't Use them like tools."</h3><h5 class="light grey-text text-lighten-3">- Essie</h5>
        </div>
      </li>
    </ul>
    
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slider').slider();
  });
</script>