<header class="home-bg">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>Fabolous.Classy.Elegant</h1>
                <br>
                <div class="col s12 m6 center-column center">
                    <a class="waves-effect waves-light btn-large appt-btn">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</header>

<%= render :partial => "home/about"%>
<%= render :partial => "home/qoutes"%>
<%= render :partial => "home/services"%>
<%= render :partial => "home/products"%>