@import "materialize";
#services{
  padding-top: 8%;
  .card{
    padding-bottom: 10px;
    .card-image{
      max-height: 100%;
    }
    .service_title{
      color: #000;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: -15px;
    } .btn-floating{
      bottom: 20px;
      left: 19px;
      background: #8029A4;
    }
  }
}

//Pedicure
header.pedi-bg {
  background-image: url('/assets/pedicure_banner.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  max-height: 600px;;
  color: #fff;
  div.bg-text {
    padding: 20vh;
    text-transform: uppercase;
    h1 {
      color: #fff;
      text-align: center;
      letter-spacing: 12px;
    }
  }
}

#all_pedis{
  padding-top: 8%;
  padding-bottom: 8%;
  .pedi-title{
    letter-spacing: 3px;
  }
  .spa, .lavender{
    padding-bottom: 5%;
  }
}

//Manicure
header.mani-bg {
  background-image: url('/assets/manicure_banner.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  max-height: 600px;;
  color: #fff;
  div.bg-text {
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-transform: uppercase;
    h1 {
      color: #fff;
      text-align: center;
      letter-spacing: 12px;
    }
  }
}

#all_mani{
  padding-top: 8%;
  padding-bottom: 8%;
  .mani-title{
    letter-spacing: 3px;
  }
  .mani{
    padding-bottom: 5%;
    .service-description, .xtra-service{
      font-size: 18px;
    }
  }
}