<header id="testimonial" class="testimonial-bg">
  <div class="container">
    <div class="row">
        <div class="col s12 bg-text">
            <h1>NEW TESTIMONIAL</h1>
        </div>
    </div>
  </div>
</header>

<div class="container">
  <%= render partial: 'form'%>
</div>